.header {
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: dodgerblue;
    padding: 2px;
    margin-bottom: 100px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-inline: 10px;
}

.header a:hover {
    background-color: white;
    color: dodgerblue;
}

.header-second {
    flex-direction: row-reverse;
}

.header-third {
    height: auto;
    justify-content: center;
}

.header-fourth {
    height: auto;
    justify-content: center;
    align-items: center;
}

.header-fifth {
    height: auto;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

.header-sixth {
    justify-content: unset;
    height: auto;
    align-items: center;
    flex-direction: row-reverse;
}


.items-top a{
    align-items: unset;
}

.button-border a{
    max-width: 80px;
    border: 1px solid blue;
}

